{{#> body }}
  <h1>Crear Producto</h1>
    {{#each products}}
        <div class="container">
            <p>Nombre: {{this.title}}</p>
            <p>Precio: {{this.price}}</p>
        </div>
    {{/each}}

    <div class="container">
        <form action="/realtimeproducts" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Nombre</label>
                <input
                    type="text"
                    id="title"
                    name="title"
                    class="form-control"
                    value="{{title}}"
                />
                </div>
                <div class="mb-3">
                <label for="price" class="form-label">Precio</label>
                <input
                    type="text"
                    id="price"
                    name="price"
                    class="form-control"
                    value="{{price}}"
                />
                </div>
                <div class="mb-3">
                <label for="category" class="form-label">Categoria</label>
                <input
                    type="text"
                    id="category"
                    name="category"
                    class="form-control"
                    value="{{category}}"
                />
            </div>
            <button class="btn btn-success" id="btn">Crear Producto</button>
        </form>
    </div>
    
{{/body}}